<header>
  <div class="inner">
    <h3 class="masthead-brand">
      <img [src]="getLogoURL()" width="200" />
    </h3>
<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <div class="collapse navbar-collapse" id="navbarTogglerDemo02">
    <ul class="nav nav-tabs">
      <li class="nav-item">
        <a class="nav-link active" routerLink="">Home</a>
      </li>
      <li class="nav-item">
        <a class="nav-link active" routerLink="Products">Search Products</a>
      </li>
      <li class="nav-item">
        <a class="nav-link active" routerLink="Allergens">Allergens</a>
      </li>
      <li class="nav-item">
        <a class="nav-link active" routerLink="Brands">Brands</a>
      </li>
      <li class="nav-item">
        <a class="nav-link active" routerLink="Ingredients">Ingredients</a>
      </li>
      <li class="nav-item">
        <a class="nav-link active" routerLink="Contact">Our team</a>
      </li>
    </ul>
  </div>
</nav>
  </div>
</header>
