<footer>
  <section>
  <div class="sub">
       <h2>CONTACT US</h2>
<form action="/footer.php" method="post">
  <input type="text" name="nom" placeholder="name" pattern="[A-Za-z]*" title="This field should only contain letters" required><br>
  <input type="email" placeholder="eMail" name ="email" id="mail2" required><br>
   <input type="text" placeholder="subject" name ="sujet" id="mail" required><br>
  <input name="msg" type="text" placeholder="text.." required><br>
   <input type="submit" value="SUBMIT">
</form>
  </div>
  <div class="sub4">
      <h2>BROWSE</h2>
  <ul>
    <li><a routerLink="Products">Search Product</a></li>
    <li><a routerLink="Allergens">Allergens</a></li>
    <li><a routerLink="Brands"> Brands</a></li>
    <li><a routerLink="Ingredients">Ingredients</a></li>
    <li><a routerLink="Contacts">Our Team</a></li>
  </ul>

  </div>
    <div class="sub3">
  <h2>OPEN FOOD FACT</h2>
  <p>    Quai Albert 1er <br> 98000 - Monaco  <br> +33494678954 <br> openfoodfacts@gmail.com</p>

  </div>
  <p id="p">Copyright 2020 - OpenFoodFact rights</p>
</section>
</footer>
