
footer{
  background-color:black;
  width:100%;
  margin-top : -5%;
  position:relative;
  color: grey;
  margin-bottom:-15px;
  padding:10px;
  font-family:"cofley";
}

section{
  width:60%;
  margin-left:20%;
  margin-right:20%;
}
footer a{
  color:grey;
  text-decoration:none;
  font-size:80%;

}
footer ul{
   list-style-type: none;
    text-align: left;
}
footer a:hover{
  color:pink;
  text-decoration:none;
}
footer p{
  padding-top:5px;
  color:grey;
  font-size:80%;
  text-align:center;
}

.sub,.sub4,.sub3{

  height:100px;
  display:table-cell;
  padding-left:0%;
  padding-right:1%;

}
.sub{
  width:25%;
  border-right:solid #7B8483 1px;
}
.sub3{
  width:25%;
  padding-left:4%;
  padding-right:0;
}
.sub4{
  width:25%;
  padding-left:5%;
  border-right:solid #7B8483 1px;
}
footer h2{
  font-size: 15px;
  color:#A0A2A2;
}

footer input[type=text], footer select, footer textarea, footer input[type=email] {
width: 70%;
padding: 12px;
border: 1px solid #ccc;
margin-top: 6px;
margin-bottom: 16px;
resize: vertical;
}

footer input[type=submit] {
background-color: Moccasin;
color: black;
padding: 12px 20px;
border: none;
cursor: pointer;
}

footer input[type=submit]:hover {
background-color: #45a049;
}
