<!doctype html>
<html>
   <head>
        <title>Open Food Facts</title>
        <meta charset="UTF-8">
        <meta name="author" content="">
        <meta name="description" content="Découvrez OpenFoodFacts">
        <link href="body.component.css" rel="stylesheet" type="text/css">
    </head>
    <body>
    <section>
      <h1> <span class="red">OPE</span><span class="yell">N FOO</span><span class="green">D FAC</span><span class="blue">TS</span> </h1>
      <h1><span class="red">WE</span><span class="yell">L</span><span class="green">CO</span><span class="blue">ME !</span> </h1>

        <div>
            <div class="contener_slideshow">
		<div class="contener_slide">
                	<div class="slid_1"><img [src]="getLogoURL3()" /></div>
                  <div class="slid_2"><img [src]="getLogoURL4()" /></div>
                  <div class="slid_3"><img [src]="getLogoURL5()" /></div>
		</div>
            </div>
	</div>


       <div id="div2">
       <article>
           <h2>ABOUT FOOD</h2><h3>A little culture</h3>
            <p>Throughout the European Union, the concept of food refers to any substance or product,
             processed, partially processed or unprocessed, intended to be ingested or reasonably
             likely to be ingested by humans. This term covers drinks, chewing gum, and other products that can be
             and any substance, including water, intentionally incorporated into food in the
             in the course of their manufacture, preparation or treatment. It includes water to the point of
             conformity as defined in Article 6 of Directive 98/83/EC2.
             The term "food" does not include in Europe :</p>
            <ul>
            <li>pet food</li>
            <li>live animals (except if prepared for human consumption; e.g. oysters)</li>
            <li>plants before harvest</li>
            <li>medicinal products (within the meaning of Council Directives 65/65/EEC and 92/73/EEC)</li>
            <li>cosmetics within the meaning of Council Directive 76/768/EEC</li>
            <li>tobacco and tobacco products (as defined in Council Directive 89/622/EEC)</li>
            <li>narcotic drugs and psychotropic substances (as defined in the United Nations Single Convention on Psychotropic Substances of 1971)</li>
            <li>residues and contaminants likely to be found in food.</li>
            <li>Also in Europe, "genetically modified food" is defined as "food containing GMOs, consisting of such
            organisms or produced from GMOs "3 and "genetically modified feed" means feed containing GMOs, consisting of
            into such organisms or produced from GMOs, for animals". They are subject to traceability and specific labelling.</li>
          </ul>
      </article>
       </div>
</section>
.
</body>
</html>
