.red{
  color: red;
  text-decoration: underline;
}
.yell{
  color: gold;
  text-decoration: underline;
}
.green{
  color: green;
  text-decoration: underline;
}
.blue{
  color: blue;
  text-decoration: underline;
}
body{
  margin:5px;
}
