<div class="row">
  <div class="column">
    <img [src]="getLogoURL4()" style="width:100%"/>
    <div class="content">
      <h1>KLEIN Marion</h1>
      <p>Angular Developer - API Project 2020</p>
    </div>
  </div>
  <div class="column">
    <img [src]="getLogoURL5()" style="width:100%"/>
    <div class="content">
      <h1>LIAUTAUD Canelle</h1>
      <p>Angular Developer - API Project 2020</p>
    </div>
  </div>
  <div class="column">
    <img [src]="getLogoURL6()" style="width:100%"/>
    <div class="content">
      <h1>MANZONI Lucile</h1>
      <p>Angular Developer - API Project 2020</p>
    </div>
  </div>
</div>

