<div>
  <h3>Form</h3>
  <form>
  <div>
    Nom de Famille: <input id="nomFamille" name="nomFamille" size="50" />
  </div>
  <div>
    Prénom: <input id="prenom" name="prenom" size="50" />
  </div>
  <div>
    Email: <input id="email" name="email" size="50" />
  </div>
  <div>
    Age: <input id="age" name="age"  size="50" />
  </div>
  <div>
    Genre: <select id="genre" name="genre">
              <option value="0">Homme</option>
              <option value="1">Femme</option>
              <option value="2">Indéfini</option>
          </select>
  </div>
  <div>
    Langue: <select id="langue" name="langue">
              <option value="0"></option>
              <option value="1"></option>
              <option value="2"></option>
          </select>
  </div>
  </form>
</div>

