h3 {
  color: #111;
  background-color: orange;
  font-size: 70px;
  letter-spacing: 5px;
  padding-bottom: 5px;
  padding-top: 5px;
  }
h3, th, td{
  font-family: Georgia, 'Times New Roman', Times, serif;
  line-height: 1;
  text-align: center;
  font-weight: bold;
}
body{
  margin: 10px;
}
th{
  font-size: 20px;
  letter-spacing: 2px;
  padding-bottom: 15px;
  padding-top: 5px;

}

td {
  font-size: 15px;
  line-height: 1;
  text-align: center;
  padding-bottom: 5px;
  padding-top: 5px;
  border-style:inset;

}

table{
  width:100%
}
